body {
  font-size: 2rem;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
}

/** banner **/

.banner-index {
  width: 100%;
  /*display: block;*/
}

/** header intro **/
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #555;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 4% 0%;
}

.header-links {
  padding: 2vh 0vh;
  margin: auto;
  height: 100%
}

.header-links img {
  padding: 2vh;
  height: 5vh;
}


/*portfolio*/

.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 10vh;
  margin: auto;
  width: 80%;
}

.portfolio-img {
  max-width: 100%;
  max-height: 100%;
}
