body {
  font-size: 2rem;
  padding: 0;
  background: #d3d3d3;
}

.container {
  background: white;
}

/** navigation bar **/

.navbar {
  background-color: #ffffff;
  color: #000000
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  font-size: 1.5rem;
  margin: 0;
}

.navbar li a {
  text-decoration: none;
  color: #000000;
}

.navbar li a:hover {
    color: #888;
}

/** logo **/

.navbar .logo {
  color: black;
  float: left;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: 4rem;
  font-family: source code pro;
}

/** banner **/

.banner {
  width: 100%;
  display: block;
}

.banner-index {
  width: 100%;
  display: block;
}

.banner-about {
  width: 100%;
  display: block;
}

.banner-blog {
  width: 100%;
  height: 200px;
  display: block;
}

/** header intro **/

.header {
  background: white;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.hello {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.journey {
  font-size: 1.5rem;
  padding-left: 10px;
}

/** blogs **/

.blog a {
  max-width: 100%;
  display: block;
  background: white;
  text-decoration: none;
}

.blog-img {
  width: 350px; height: 200px; max-width: 80%;
  display: block;
  align: center;
  padding-top: 10px;
  padding-left: 37px;
}

.wireframe {
  width: 150px; height: 250px; max-width: 100%;
  margin-left: 0;
  padding-left: 25px;
}

.blog-subject {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px 0 10px 0;
  color: black;
}

.subtitle {
  text-align: center;
  font-size: 2.5rem;
}

.blog-text {
  font-size: 1.5rem;
  padding-left: 12px;
}

/** footer **/

.footer {

}
