body {
  font-size: 2rem;
  padding: 0;
  background: #d3d3d3;
}

.container {
  background: white;
}

/** navigation bar **/

.navbar {
  background-color: #ffffff;
  color: #000000
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  font-size: 1.5rem;
  margin: 0;
}

.navbar li a {
  text-decoration: none;
  color: #000000;
}

.navbar li a:hover {
    color: #888;
}

/** logo **/

.navbar .logo {
  color: black;
  float: left;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: 4rem;
  font-family: source code pro;
}

/** banner **/

.banner {
  width: 100%;
  display: block;
}

.banner .banner-image {
  width: 100%;
  display: block;
}

/** header intro **/

.header {
  background: white;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

.journey {

}

/** blogs **/

.blog a {
  width: 100%;
  display: block;
  background: white;
  text-decoration: none;
}

.blog-img {
  width: 100%;
  display: block;
  padding-top: 20px;
}

.blog-subject {
  text-align: center;
  font-size: 3rem;
  padding: 10px 0 10px 0;
  color: black;
}

/** footer **/

.footer {

}
