* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'arial', serif;
  padding: 0;
  background: #777;
}

/** navigation bar **/

.navbar {
  background-color: #ffffff;
  color: #000000
  list-style: none;
  text-align: right;
  padding: 20px 0 0 0;
}

.navbar li {
  display: inline-block;
  padding: 0 20px 0 20px;
  font-size: 12px;
}

.navbar li a {
  text-decoration: none;
  color: #000000;
}

.navbar li a:hover {
    color: #clclcl;
}

/** logo **/

.navbar .logo {
  color: black;
  float: left;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: 20px;
}

/** banner **/

.banner {
  width: 100%;
  display: block;
}

.banner .banner-image {
  width: 100%;
  display: block;
}

/** blogs **/

.blog {
  width: 100%;
  display: block;
}

.blog .blog-img {
  width: 100%;
  display: block;
  padding-top: 20px;
}

.blog .blog-subject {
  text-align: center;
  padding: 20px 0 20px 0;
}

/** footer **/

.footer {
  text-align: center;
  padding-top: 15;
  font-size: 2rem;
  color: black;
  background: white;
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
}
